.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  padding: 3rem 0;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.mainbutton {
  color: ghostwhite;
  background-color: rgb(124, 4, 137);
  border: none;
  border-radius: 0.7rem;
  padding: 10px 20px;
}

.mainbutton:hover {
  color: rgb(124, 4, 137);
  background-color: rgb(247, 223, 7);
  cursor: pointer;
}

.resetbutton {
  background-color: rgb(185, 172, 187);
  color: white;
  border: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
}

.resetbutton:hover {
  background-color: rgb(109, 65, 114);
  cursor: pointer;
}
