.Navbar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
  height: 10rem;
  font-size: 3rem;
  color: rgb(124, 4, 137);
  background-color: ghostwhite;
}
